/*
color pallete
#2C2B30
#4F4F51
#D6D6D6
#F2C4CE
#F58F7C
*/

/*General Styling*/

html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
}
.body{
    display:flex;
    font-family: "Courier New", Courier, monospace;
    flex-direction: column;
    min-height: 100vh;
    background-color: #2C2B30;
    text-align: center;
}

/*Media Queries*/
/*phone size*/
@media (width < 480px){

}
/*small tablet*/
@media (min-width: 481px) and (max-width: 768px){

}
/*laptop*/
@media (min-width:769px) and (max-width: 1024px){
    
}
/*larger laptop or small desktop monitor*/
@media (min-width: 1025px )and (max-width: 1200px){
    
}
/*desktop monitor or tv*/
@media (width > 1200px){
    
}
/*Media Queries end*/

/*NavBar*/
.NavBar{
    z-index: 1;
    background-color: #2C2B30;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.NavBar > *
{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.button{
    font-weight: bolder;
    font-size: 19px;
    color: #F58F7C;
    float:left;
    padding: 14px 16px;
}

.button:hover{
    background-color: #F58F7C;
    color:black;
}

.button:click{
    background-color: #F2C4CE;
}

/*Hero Begin*/
.Hero{
    display: flex;
    height: 95vh;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    background: linear-gradient(to bottom right, #2C2B30, #4F4F51);
}


.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#F58F7C;
    padding: 30px;
    font-weight: bold;
    text-shadow: 2px 1px 5px crimson;
    letter-spacing: 1px;
}

.text h1{
    font-family: "Lucida Console", Courier, monospace;
    font-weight: bolder;
}
.text > hr{
    content: "";
    border-bottom: solid #F58F7C 1px;
    width: 100%
}

.particle-container .particle{
    position: absolute;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background: radial-gradient(#F2C4CE,#F58F7C);
    box-shadow: 3px 4px 10px crimson;
}

.particle:nth-child(1){
    top: 10%;
    left: 10%;
    animation: particle-motion 10s linear infinite;
}
.particle:nth-child(2){
    top: 10%;
    left: 80%;
    animation: particle-motion 11s linear infinite;
}
.particle:nth-child(3){
    top: 15%;
    left: 40%;
    animation: particle-motion 12s linear infinite;
}
.particle:nth-child(4){
    top: 80%;
    left: 20%;
    animation: particle-motion 7s linear infinite;
}
.particle:nth-child(5){
    top: 90%;
    left: 90%;
    animation: particle-motion 1.8s linear infinite;
}
.particle:nth-child(6){
    top: 90%;
    left: 10%;
    animation: particle-motion 5s linear infinite;
}
.particle:nth-child(7){
    top: 60%;
    left: 85%;
    animation: particle-motion 3s linear infinite;
}
.particle:nth-child(8){
    top: 60%;
    left: 65%;
    animation: particle-motion 2.2s linear infinite;
}
.particle:nth-child(9){
    top: 70%;
    left: 63%;
    animation: particle-motion 4.2s linear infinite;
}
.particle:nth-child(10){
    top: 40%;
    left: 30%;
    animation: particle-motion 3s linear infinite;
}
.particle:nth-child(11){
    top: 92%;
    left: 30%;
    animation: particle-motion 2s linear infinite;
}

@keyframes particle-motion{
    0%{
        transform: translate(0);
        opacity: 1;
    }
    20%{
        transform: translate(5px, -20px);
        opacity: 0.8;
    }
    40%{
        transform: translate(10px, -30px);
        opacity: 0.6;
    }
    60%{
        transform: translate(15px, -40px);
        opacity: 0.4%;
    }
    80%{
        transform: translate(20px, -50px);
        opacity: 0.2%;
    }
    100%{
        transform: translate(25px, -60px);
        opacity: 0%;
    }
}

#scroll{
    margin-top: 60%;
}

.downward-pointer{
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #F58F7C;
    font-size: 0;
    line-height: 0;
}
/*Hero ends*/

/*About me begins*/
.about-me{
    background: linear-gradient(to top right, #2C2B30, #4F4F51);
    color: #2C2B30;
}

.a-container{
    margin: 10%;
    background-color: #2C2B30;
    border: solid 3px #2C2B30;
    border-radius: 5px;
}

.a-header{
    padding: 3px;
    color:#F58F7C;
}

.a-text{
    padding: 10px;
    margin: 5px;
    background-color: lightgray;
}

/*About me ends*/

/*Portfolio Begin*/
.Portfolio{
    height: 100vh;
}
/*Portfolio End*/

/*Footer Begin*/
.footer{
    position: fixed;
    bottom: 0pt;
    left: 0pt;
    width: 100%;
    display: flex;
    background-color: #2C2B30;
    color: #F58F7C;
    justify-content: center;
    align-items: center;
    height: 30px;
    font-family: "Courier New", Courier, monospace;
}

.footer p{
    margin: 0;
}