/*
color pallete
#2C2B30
#4F4F51
#D6D6D6
#F2C4CE
#F58F7C
*/

/*General Styling*/
:root{
    --background-color: #2C2B30;
    --button-color: #F58F7C;
    --navbar-color: #4F4F51;
    --highlight-color: #F2C4CE;
}

html{
    scroll-behavior: smooth;
    background-color: var(--background-color);
}
body{
    margin: 0;
}
.body{
    display:flex;
    font-family: "Courier New", Courier, monospace;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--background-color);
    text-align: center;
}

#highlight{
    color:#F2C4CE
}

/*NavBar*/
.NavBar{
    z-index: 1;
    border-top: solid lightgray 1px;
    border-bottom: solid lightgray 1px;
    background-color: #4F4F51;
    box-shadow: 0px 0px 20px crimson;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.NavBar > *
{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.button{
    font-weight: bolder;
    font-size: 19px;
    color: var(--button-color);
    float:left;
    padding: 14px 16px;
}

.button:hover{
    background-color: var(--button-color);
    color:black;
}

/*Hero Begin*/
.Hero{
    display: flex;
    height: 95vh;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    background: linear-gradient(to bottom, var(--background-color), #4F4F51,var(--background-color));
}


.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--button-color);
    padding: 30px;
    font-weight: bold;
    text-shadow: 2px 1px 5px crimson;
    letter-spacing: 1px;
}

.text h1{
    font-family: "Lucida Console", Courier, monospace;
    font-weight: bolder;
    font-size: 50px;
}
.text > hr{
    content: "";
    border-bottom: solid var(--button-color) 1px;
    width: 100%
}

.particle{
    z-index: 0;
    position: absolute;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background: radial-gradient(#F2C4CE,var(--button-color));
    box-shadow: 3px 4px 10px crimson;
}

.particle:nth-child(1){
    top: 10%;
    left: 10%;
    animation: particle-motion 10s linear infinite;
}
.particle:nth-child(2){
    top: 10%;
    left: 80%;
    animation: particle-motion 11s linear infinite;
}
.particle:nth-child(3){
    top: 15%;
    left: 40%;
    animation: particle-motion 12s linear infinite;
}
.particle:nth-child(4){
    top: 80%;
    left: 20%;
    animation: particle-motion 7s linear infinite;
}
.particle:nth-child(5){
    top: 90%;
    left: 90%;
    animation: particle-motion 1.8s linear infinite;
}
.particle:nth-child(6){
    top: 90%;
    left: 10%;
    animation: particle-motion 5s linear infinite;
}
.particle:nth-child(7){
    top: 60%;
    left: 85%;
    animation: particle-motion 3s linear infinite;
}
.particle:nth-child(8){
    top: 60%;
    left: 65%;
    animation: particle-motion 2.2s linear infinite;
}
.particle:nth-child(9){
    top: 70%;
    left: 63%;
    animation: particle-motion 4.2s linear infinite;
}
.particle:nth-child(10){
    top: 40%;
    left: 30%;
    animation: particle-motion 3s linear infinite;
}
.particle:nth-child(11){
    top: 92%;
    left: 30%;
    animation: particle-motion 2s linear infinite;
}

@keyframes particle-motion{
    0%{
        transform: translate(0);
        opacity: 1;
    }
    10%{
        transform: translate(5px, -20px);
        opacity: 0.8;
    }
    20%{
        transform: translate(10px, -30px);
        opacity: 0.6;
    }
    30%{
        transform: translate(15px, -40px);
        opacity: 0.4%;
    }
    40%{
        transform: translate(20px, -50px);
        opacity: 0.2%;
    }
    100%{
        transform: translate(25px, -60px);
        opacity: 0%;
    }
}

#scroll{
    margin-top: 60%;
}

.downward-pointer{
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid var(--button-color);
    font-size: 0;
    line-height: 0;
}
/*Hero ends*/

/*General CSS for containers*/
.about-me{
    box-shadow: 0px 0px 20px crimson;
    z-index: 1;
    color: var(--background-color);
    border-bottom: solid 1px lightgray;
}

.container{
    background-color: #4F4F51;
    border-radius: 5px;
    color: rgb(143, 142, 142);
}
h3{
    color: lightgray;
}

.header{
    padding: 3px;
    color: var(--button-color);
    background-color: #4F4F51;
    border-top: solid lightgray 1px;
    border-bottom: solid lightgray 1px;
    font-family: "Lucida Console", Courier, monospace;
    font-weight: bolder;
}

.hero{
    display: grid;
    grid-template-columns:33% 66%;
    grid-template-rows: 25% 75%;
    background-color:var(--background-color);
}

.title{
    grid-column: span 2;
    border-top: solid darkgray 1px;
    border-bottom: solid darkgray 1px;
}
.a-text{
    text-align: left;
    padding-left: 10px;
}

.img{
    padding: 10px;
    padding-top: 20px;
    border-right: solid lightgray 1px;
}

.img img{
    border-radius: 50%;
    width: 50%;
}

/*Portfolio Begin*/
.Portfolio{
    background: linear-gradient(to bottom right, var(--background-color), #4F4F51), lightgray;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.header-proj{
    padding-top: 40px;
    color: var(--button-color);
    text-shadow: 2px 1px 5px crimson;
    font-size: xx-large;
    font-family: "Lucida Console", Courier, monospace;
    font-weight: bolder;
    width: fit-content;
    align-self: center;
}


.projects{
    padding: 10%;
    display: flex;
    position: relative;
    justify-content:space-evenly;
}

.proj{
    display: flex;
    flex-direction: column;
    background-color: #4F4F51;
    box-shadow: 0px 0px 20px crimson;
    margin: 10px;
    border-radius: 10%;
    width: 25%;
}

.proj:hover{
    transform:scale(1.2);
    box-shadow: none;
}
/*Portfolio End*/

/*Contact me Begin*/
.contact > .container{
    display: flex;
    flex-direction: column;
    background: none;
    height: auto;
}

.contact{
    background: linear-gradient(to top right, var(--background-color), #4F4F51);
    color: #F58F7C;
    padding-bottom: 5%;
}
.c-header{
    border-color: solid 1px white;
    color:#F58F7C;
    text-shadow: 2px 1px 5px crimson;
    padding: 10px;
    border-top: solid 1px white;
    padding-left: 30%;
    padding-right: 30%;
}
.c-text{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: xx-large;
    padding-top: 10px;
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
}

.c-text *{
    background-color:#4F4F51;
    border-radius: 20%;
    border: solid 1px white;
    box-shadow: 0px 0px 6px crimson;
}

.c-text > a > .button:hover{
    background-color:gray;
    color:#F58F7C
}
/*Contact me End*/

/*Footer Begin*/
.footer{
    display: flex;
    background-color: var(--background-color);
    color: var(--button-color);
    justify-content: center;
    align-items: center;
    height: 30px;
    font-family: "Courier New", Courier, monospace;
    box-shadow: 0px 0px 20px crimson;
}

.footer p{
    margin: 0;
}

/*small tablet*/
@media (width < 768px){
    .hero{
        display: flex;
        flex-direction: column;
    }
    .projects{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .proj{
        width: 60%;
        margin-bottom: 30px;
    }
}
/*laptop*/
@media (min-width:769px) and (max-width: 1024px){
    
}
/*larger laptop or small desktop monitor*/
@media (min-width: 1025px )and (max-width: 1200px){
    
}
/*desktop monitor or tv*/
@media (width > 1200px){
    
}
/*Media Queries end*/